{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'email.password_reset_success.title'|trans({}, 'messages', locale) }}</h1>
    <p>{{ 'email.password_reset_success.message'|trans({'%manager_name%': manager_name}, 'messages', locale) }}</p>
{% endblock %}
