<div class="fixed-bottom bg-dark text-white mt-auto">
    <div class="container py-2">
        <div class="row align-items-center">
            <div class="col">
                <ul style="list-style: none;">
                    <li>© 2026 Football Manager</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Impressum</li>
                </ul>
            </div>
            <div class="col">
                <ul style="list-style: none;">
                    <li>News</li>
                    <li>Career</li>
                    <li>Instagram</li>
                    <li>Impressum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
